<h2>{{ localize "chronica-importer.process.sections.npc.description"}}</h2>
{{{ npc.description }}}
<p>&nbsp;</p>
<h2>{{ localize "chronica-importer.process.sections.npc.disposition"}}</h2>
<span>{{ npc.disposition }}</span>
<p>&nbsp;</p>
<h2>{{ localize "chronica-importer.process.sections.npc.notes"}}</h2>
{{{ npc.notes }}}
<p>&nbsp;</p>
<h2>{{ localize "chronica-importer.process.sections.npc.entity-type"}}</h2>
<span>{{ npc.entity_type }}</span>
<p>&nbsp;</p>
<h2>{{ localize "chronica-importer.process.sections.npc.abilities"}}</h2>
{{#each abilities}}
    <h3>{{ this.name }}</h3>
    {{{ this.long_description }}}
{{/each}}