<h2>{{ localize "chronica-importer.process.sections.place.description"}}</h2>
{{{ place.description }}}
<p>&nbsp;</p>
<h2>{{ localize "chronica-importer.process.sections.place.notes"}}</h2>
{{{ place.notes }}}
<p>&nbsp;</p>
<h2>{{ localize "chronica-importer.process.sections.place.location"}}</h2>
{{ place.location }}
<p>&nbsp;</p>
<h2>{{ localize "chronica-importer.process.sections.place.position"}}</h2>
{{ place.position }}