<div class="chronica-importer">
    <p>{{localize "chronica-importer.dialog.description"}}</p>
    <hr>
    <form>
        <div class="inputs">
            <label for="importFile">{{localize "chronica-importer.dialog.fileLabel"}}:</label>
            <input id="importFile" name="importFile" type="file" accept="application/json">
        </div>
        <hr>
        <table>
            <thead>
            <tr>
                <th>{{localize "chronica-importer.dialog.section"}}</th>
                <th>{{localize "chronica-importer.dialog.import"}} (<a id="toggleAllSections">{{localize "chronica-importer.dialog.toggleAll"}}</a>)</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{localize "chronica-importer.dialog.sections.places"}}</td>
                <td><input type="checkbox" name="places"></td>
            </tr>
            <tr>
                <td>{{localize "chronica-importer.dialog.sections.npcs"}}</td>
                <td><input type="checkbox" name="npcs"></td>
            </tr>
            <tr>
                <td>{{localize "chronica-importer.dialog.sections.named-npcs"}}</td>
                <td><input type="checkbox" name="named-npcs"></td>
            </tr>
            </tbody>
        </table>
        <div class="buttons">
            <button id="startImport" type="submit"><i class="fas fa-check"></i>{{localize "chronica-importer.dialog.start-import"}}</button>
        </div>
        <hr>
        <div class="status">
            <span class="statusText">Status:</span>
            <span class="statusValue">Ready</span>
        </div>
    </form>
</div>